.fractal-vets-logo {
  display: block;
  height: inherit;
  width: inherit;
}

.fractal-vets-logo path,
.fractal-vets-logo rect {
  fill: white;
}

.Header {
  color: #ffffff;
  background-color: #112e51;
}

.Header .f-pipe {
  font-size: 3rem;
}

.Header h2 {
  color: #ffffff;
}

.Header-navToggle svg {
  fill: #ffffff;
}

.Frame-panel {
  background-color: #ffffff;
}
.Document-content {
  padding-bottom: 8rem;
}


/* Override Fractal left-nav */

/* Suppress caret */
.Tree-collectionLabel span::before {
  content: none;
}

/* Expose submenus */
#tree-docs .Tree-collection.is-closed .Tree-collectionItems {
  display: block;
}

/* Hide Documentation title */
#tree-docs .Tree-title {
  display: none;
}

/* Space sections out */
#tree-docs .Tree-depth-2 {
  margin-top: 1rem;
}

/* Adjust first header up */
#tree-docs {
  margin-top: -1rem;
}

/* Don’t make the sections headers clickable */
#tree-docs .Tree-depth-2 > h4 {
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
#tree-docs .Tree-depth-2 > h4 span {
  padding-left: 1.7rem !important;
}
#tree-docs .Tree-depth-2 > h4:hover {
  background: transparent;
  cursor: default;
}

/* Hide subhead collection label */
#tree-docs .Tree-depth-3 .Tree-collectionLabel {
  display: none;
  font-size: 1rem;
}

/* Style nested links */
#tree-docs .Tree-depth-3 .Tree-collectionItems {
  margin-left: 1rem;
}
#tree-docs .Tree-depth-3 .Tree-collectionItems .Tree-item a {

  margin-left: -1rem;
  padding-left: 3rem !important;
}
#tree-docs .Tree-depth-3 .Tree-collectionItems .Tree-item:nth-child(1) a {
  font-weight: bold;
  font-size: 1rem;
  padding-left: 2rem !important;
}

/* Link size and spacing */
#tree-docs a.Tree-entityLink {
  font-size: 1rem;
  margin: 0;
  padding-left: 2rem !important;
}

/* You are here */
.is-current .Tree-entityLink {
  background-color: rgba(251,217,128,.25);
}
